.Navbar{
    display: flex;
    justify-content: space-between;
    
}

.logo{
    width: 10rem;
    height: 3rem;
    padding: 2rem;
}
.nav-menu{
    list-style: none;
    color: white;
    display: flex;
    flex: 1;
    gap: 2rem;
    padding-top: 1.5rem;
    margin: auto;
    margin-left: 12px;
}
.nav-menu li{
    cursor: pointer;
}
.nav-menu li:hover{
    color: orange;
    cursor: pointer;
}